[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "==5.3.*"

[packages]
requests = "==2.22.*"
pyyaml = "==5.3.*"
numpy = "==1.18.*"
xlrd = "==1.2.0"
pandas = "==1.1.3"

[requires]
python_version = "3.7"
