pip==23.2.1
setuptools==68.1.2
wheel == 0.41.2
requests==2.31.0
pyyaml==6.0.1
numpy==1.25.2
xlrd==2.0.1
pandas==2.1.0
cloudscraper==1.2.71
pytest-httpserver==1.0.8
python-decouple==3.8
python-telegram-bot==20.5
bpython == 0.24