pip==24.3.1
setuptools==75.6.0
wheel == 0.45.1
requests==2.32.3
pyyaml==6.0.2
numpy==2.2.1
xlrd==2.0.1
pandas==2.2.3
cloudscraper==1.2.71
pytest-httpserver==1.1.0
python-decouple==3.8
python-telegram-bot[job-queue]==21.10
bpython == 0.24
certifi==2024.12.14
garth==0.5.2
pytest==8.3.4
pytest-vcr==1.0.2
pytest-cov==6.0.0
flake8==7.1.1
ipykernel==6.29.5
matplotlib==3.10.0