pip==24.1
setuptools==70.1.1
wheel == 0.43.0
requests==2.32.3
pyyaml==6.0.1
numpy==2.0.0
xlrd==2.0.1
pandas==2.2.2
cloudscraper==1.2.71
pytest-httpserver==1.0.10
python-decouple==3.8
python-telegram-bot[job-queue]==21.3
bpython == 0.24
certifi==2024.6.2
garth==0.4.46