pip==24.3.1
setuptools==75.6.0
wheel == 0.45.0
requests==2.32.3
pyyaml==6.0.2
numpy==2.1.3
xlrd==2.0.1
pandas==2.2.3
cloudscraper==1.2.71
pytest-httpserver==1.1.0
python-decouple==3.8
python-telegram-bot[job-queue]==21.7
bpython == 0.24
certifi==2024.8.30
garth==0.4.46