pip==23.3.2
setuptools==69.0.2
wheel == 0.42.0
requests==2.31.0
pyyaml==6.0.1
numpy==1.26.2
xlrd==2.0.1
pandas==2.1.4
cloudscraper==1.2.71
pytest-httpserver==1.0.8
python-decouple==3.8
python-telegram-bot[job-queue]==20.7
bpython == 0.24
certifi==2023.11.17
garth==0.4.42
pytest==7.4.3
pytest-vcr==1.0.2