interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 369946353, "profileId": 75620387, "garminGUID": "6fb98690-f511-4145-afed-1a660d8a05a3",
        "displayName": "28b8ca52-820b-4597-9bbb-6d76e1498867", "fullName": "Oskar",
        "userName": "oskar.salgado@gmail.com", "profileImageUuid": "0a5e9f44-4b61-4702-94f2-91363bd0d9f0",
        "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/0a5e9f44-4b61-4702-94f2-91363bd0d9f0-75620387.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/c87431ff-0530-4002-b23f-1dd91534f23d-75620387.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/d891cdfb-a406-40a0-a10b-1ff764a89599-75620387.png",
        "location": "", "facebookUrl": "", "twitterUrl": "", "personalWebsite": "",
        "motivation": 2, "bio": null, "primaryActivity": "running", "favoriteActivityTypes":
        ["running", "cycling", "swimming", "walking", "hiking", "weight_training"],
        "runningTrainingSpeed": 3.6363637, "cyclingTrainingSpeed": 5.555556, "favoriteCyclingActivityTypes":
        ["road", "mountain"], "cyclingClassification": "recreation", "cyclingMaxAvgPower":
        0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility": "private", "activityStartVisibility":
        "public", "activityMapVisibility": "public", "courseVisibility": "public",
        "activityHeartRateVisibility": "public", "activityPowerVisibility": "public",
        "badgeVisibility": "private", "showAge": false, "showWeight": false, "showHeight":
        false, "showWeightClass": false, "showAgeRange": false, "showGender": false,
        "showActivityClass": false, "showVO2Max": false, "showPersonalRecords": false,
        "showLast12Months": true, "showLifetimeTotals": true, "showUpcomingEvents":
        false, "showRecentFavorites": false, "showRecentDevice": false, "showRecentGear":
        false, "showBadges": false, "otherActivity": "", "otherPrimaryActivity": null,
        "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ", "SCOPE_ATP_WRITE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ",
        "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD",
        "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ",
        "SCOPE_INSIGHTS_WRITE", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_MARINE_USER", "ROLE_TACX_APP_USER"],
        "nameApproved": true, "userProfileFullName": "Oskar", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 7, "userPoint": 1561, "levelUpdateDate": "2023-07-07T12:13:00.0",
        "levelIsViewed": false, "levelPointThreshold": 2540, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 75620387, "userData": {"gender": "MALE", "weight": 73800.0,
        "height": 178.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1981-02-02",
        "measurementSystem": "metric", "activityLevel": 8, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 53.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.3555545600000001, "lactateThresholdHeartRate":
        null, "diveNumber": 50, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [{"name": null, "volume": 250, "unit": "milliliter"},
        {"name": null, "volume": 500, "unit": "milliliter"}, {"name": null, "volume":
        750, "unit": "milliliter"}], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        26, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp": 1063780297,
        "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null, "trainingStatusPausedDate":
        null, "weatherLocation": {"useFixedLocation": false, "latitude": 42.8509107,
        "longitude": -2.6423136, "locationName": "Gasteiz, Euskadi", "isoCountryCode":
        "ES", "postalCode": "01192"}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": 0}, "userSleep": {"sleepTime":
        75600, "defaultSleepTime": false, "wakeTime": 34200, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/info-service/api/system/release-system
  response:
    body:
      string: '[{"app": "release-system", "project": "system", "version": "23.19.3.0",
        "time": "Mon Oct 02 17:52:10 UTC 2023"}]'
    headers:
      Content-Type:
      - application/json
      x-vcap-request-id:
      - 81bfe4f9-ab24-4621-7b4b-04acb54f41fb
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/exercises/Exercises.json
  response:
    body:
      string: '{"categories": {"BANDED_EXERCISES": {"exercises": {"AB_TWIST": {"primaryMuscles":
        ["ABS", "OBLIQUES"], "secondaryMuscles": []}, "BACK_EXTENSION": {"primaryMuscles":
        ["LOWER_BACK"], "secondaryMuscles": ["GLUTES", "HAMSTRINGS"]}, "BICYCLE_CRUNCH":
        {"primaryMuscles": ["ABS", "OBLIQUES"], "secondaryMuscles": ["HIPS"]}, "CALF_RAISES":
        {"primaryMuscles": ["CALVES"], "secondaryMuscles": []}, "CLAM_SHELLS": {"primaryMuscles":
        ["ABDUCTORS"], "secondaryMuscles": ["GLUTES"]}, "CURL": {"primaryMuscles":
        ["BICEPS"], "secondaryMuscles": []}, "DEADBUG": {"primaryMuscles": ["ABS",
        "HIPS"], "secondaryMuscles": []}, "DEADLIFT": {"primaryMuscles": ["GLUTES",
        "HAMSTRINGS"], "secondaryMuscles": []}, "DONKEY_KICK": {"primaryMuscles":
        ["GLUTES"], "secondaryMuscles": ["HAMSTRINGS"]}, "EXTERNAL_ROTATION": {"primaryMuscles":
        ["SHOULDERS"], "secondaryMuscles": []}, "EXTERNAL_ROTATION_AT_90_DEGREE_ABDUCTION":
        {"primaryMuscles": ["TRAPS", "SHOULDERS"], "secondaryMuscles": []}, "FIRE_HYDRANT":
        {"primaryMuscles": ["ABDUCTORS"], "secondaryMuscles": ["GLUTES"]}, "FLY":
        {"primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS"]}, "FRONT_RAISE":
        {"primaryMuscles": ["SHOULDERS"], "secondaryMuscles": ["TRAPS"]}, "GLUTE_BRIDGE":
        {"primaryMuscles": ["GLUTES", "ABDUCTORS"], "secondaryMuscles": ["HAMSTRINGS"]},
        "HAMSTRING_CURLS": {"primaryMuscles": ["HAMSTRINGS"], "secondaryMuscles":
        ["GLUTES"]}, "HIGH_PLANK_LEG_LIFTS": {"primaryMuscles": ["GLUTES", "HAMSTRINGS",
        "LOWER_BACK"], "secondaryMuscles": ["ABS"]}, "HIP_EXTENSION": {"primaryMuscles":
        ["GLUTES"], "secondaryMuscles": ["LOWER_BACK", "HAMSTRINGS"]}, "INTERNAL_ROTATION":
        {"primaryMuscles": ["SHOULDERS"], "secondaryMuscles": []}, "JUMPING_JACK":
        {"primaryMuscles": ["GLUTES", "QUADS", "ABDUCTORS"], "secondaryMuscles": []},
        "KNEELING_CRUNCH": {"primaryMuscles": ["ABS"], "secondaryMuscles": []}, "LATERAL_BAND_WALKS":
        {"primaryMuscles": ["ABDUCTORS"], "secondaryMuscles": ["GLUTES"]}, "LATERAL_RAISE":
        {"primaryMuscles": ["SHOULDERS", "TRAPS"], "secondaryMuscles": []}, "LATPULL":
        {"primaryMuscles": ["LATS"], "secondaryMuscles": ["TRAPS"]}, "LEG_ABDUCTION":
        {"primaryMuscles": ["ABDUCTORS"], "secondaryMuscles": ["GLUTES"]}, "LEG_ADDUCTION":
        {"primaryMuscles": ["ADDUCTORS"], "secondaryMuscles": []}, "LEG_EXTENSION":
        {"primaryMuscles": ["QUADS"], "secondaryMuscles": []}, "LUNGE": {"primaryMuscles":
        ["QUADS", "GLUTES"], "secondaryMuscles": ["HAMSTRINGS"]}, "PLANK": {"primaryMuscles":
        ["ABS"], "secondaryMuscles": ["SHOULDERS"]}, "PULL_APART": {"primaryMuscles":
        ["SHOULDERS", "TRAPS"], "secondaryMuscles": []}, "PUSH_UPS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["TRICEPS"]}, "REVERSE_CRUNCH": {"primaryMuscles":
        ["ABS"], "secondaryMuscles": ["HIPS"]}, "ROW": {"primaryMuscles": ["LATS",
        "TRAPS"], "secondaryMuscles": ["BICEPS", "LOWER_BACK", "SHOULDERS"]}, "SHOULDER_ABDUCTION":
        {"primaryMuscles": ["LATS", "SHOULDERS"], "secondaryMuscles": []}, "SHOULDER_EXTENSION":
        {"primaryMuscles": ["SHOULDERS"], "secondaryMuscles": ["LATS"]}, "SHOULDER_EXTERNAL_ROTATION":
        {"primaryMuscles": ["SHOULDERS"], "secondaryMuscles": []}, "SHOULDER_FLEXION_TO_90_DEGREES":
        {"primaryMuscles": ["SHOULDERS"], "secondaryMuscles": []}, "SIDE_PLANK_LEG_LIFTS":
        {"primaryMuscles": ["OBLIQUES", "ABDUCTORS"], "secondaryMuscles": ["ABS",
        "ADDUCTORS"]}, "SQUAT": {"primaryMuscles": ["QUADS", "GLUTES"], "secondaryMuscles":
        ["HAMSTRINGS"]}, "SQUAT_TO_PRESS": {"primaryMuscles": ["QUADS", "GLUTES",
        "SHOULDERS"], "secondaryMuscles": ["HAMSTRINGS", "TRICEPS", "HIPS"]}, "TRICEP_EXTENSION":
        {"primaryMuscles": ["TRICEPS"], "secondaryMuscles": []}, "TRICEP_KICKBACK":
        {"primaryMuscles": ["TRICEPS"], "secondaryMuscles": []}, "UPRIGHT_ROW": {"primaryMuscles":
        ["SHOULDERS", "TRAPS"], "secondaryMuscles": []}, "WALL_CRAWL_WITH_EXTERNAL_ROTATION":
        {"primaryMuscles": ["TRAPS", "SHOULDERS"], "secondaryMuscles": []}}}, "BATTLE_ROPE":
        {"primaryMuscles": ["SHOULDERS"], "secondaryMuscles": [], "exercises": {"ALTERNATING_FIGURE_EIGHT":
        {"primaryMuscles": ["SHOULDERS", "ABS"], "secondaryMuscles": ["OBLIQUES",
        "BICEPS", "TRICEPS", "FOREARM"]}, "ALTERNATING_JUMP_WAVE": {"primaryMuscles":
        ["SHOULDERS", "BICEPS", "TRICEPS", "FOREARM", "QUADS"], "secondaryMuscles":
        ["ABS", "GLUTES", "CALVES", "LOWER_BACK", "HAMSTRINGS"]}, "ALTERNATING_KNEELING_TO_STANDING_WAVE":
        {"primaryMuscles": ["SHOULDERS", "BICEPS", "TRICEPS", "FOREARM", "QUADS"],
        "secondaryMuscles": ["ABS", "GLUTES", "CALVES", "LOWER_BACK", "HAMSTRINGS"]},
        "ALTERNATING_LUNGE_WAVE": {"primaryMuscles": ["SHOULDERS", "BICEPS", "TRICEPS",
        "FOREARM", "QUADS"], "secondaryMuscles": ["ABS", "GLUTES", "CALVES", "LOWER_BACK",
        "HAMSTRINGS"]}, "ALTERNATING_SQUAT_WAVE": {"primaryMuscles": ["SHOULDERS",
        "BICEPS", "TRICEPS", "FOREARM", "QUADS", "GLUTES"], "secondaryMuscles": ["ABS",
        "CALVES", "LOWER_BACK", "HAMSTRINGS"]}, "ALTERNATING_WAVE": {"primaryMuscles":
        ["SHOULDERS", "BICEPS", "TRICEPS", "FOREARM"], "secondaryMuscles": ["ABS",
        "GLUTES", "CALVES", "LOWER_BACK", "HAMSTRINGS"]}, "ALTERNATING_WAVE_WITH_LATERAL_SHUFFLE":
        {"primaryMuscles": ["SHOULDERS", "BICEPS", "TRICEPS", "FOREARM", "QUADS"],
        "secondaryMuscles": ["ABS", "ABDUCTORS", "ADDUCTORS", "GLUTES", "CALVES",
        "LOWER_BACK", "HAMSTRINGS"]}, "BATTLE_ROPE": {"primaryMuscles": ["SHOULDERS"],
        "secondaryMuscles": []}, "CLAP_WAVE": {"primaryMuscles": ["SHOULDERS", "BICEPS",
        "TRICEPS", "FOREARM"], "secondaryMuscles": ["ABS", "GLUTES", "QUADS", "CALVES",
        "LOWER_BACK", "HAMSTRINGS"]}, "DOUBLE_ARM_FIGURE_EIGHT": {"primaryMuscles":
        ["SHOULDERS", "ABS"], "secondaryMuscles": ["OBLIQUES", "BICEPS", "TRICEPS",
        "FOREARM"]}, "DOUBLE_ARM_SIDE_TO_SIDE_SNAKE": {"primaryMuscles": ["SHOULDERS",
        "OBLIQUES"], "secondaryMuscles": ["BICEPS", "TRICEPS", "FOREARM", "ABS"]},
        "DOUBLE_ARM_SIDE_WAVE": {"primaryMuscles": ["SHOULDERS", "BICEPS", "TRICEPS",
        "FOREARM"], "secondaryMuscles": ["ABS", "GLUTES", "QUADS", "CALVES", "LOWER_BACK",
        "HAMSTRINGS"]}, "DOUBLE_ARM_SLAM": {"primaryMuscles": ["SHOULDERS", "BICEPS",
        "TRICEPS", "FOREARM"], "secondaryMuscles": ["ABS", "GLUTES", "QUADS", "CALVES",
        "LOWER_BACK", "HAMSTRINGS"]}, "DOUBLE_ARM_WAVE": {"primaryMuscles": ["SHOULDERS",
        "BICEPS", "TRICEPS", "FOREARM"], "secondaryMuscles": ["ABS", "GLUTES", "QUADS",
        "CALVES", "LOWER_BACK", "HAMSTRINGS"]}, "GRAPPLER_TOSS": {"primaryMuscles":
        ["SHOULDERS", "OBLIQUES", "QUADS", "HAMSTRINGS"], "secondaryMuscles": ["ABS",
        "BICEPS", "TRICEPS", "FOREARM"]}, "HIP_TOSS": {"primaryMuscles": ["SHOULDERS",
        "OBLIQUES", "QUADS", "HAMSTRINGS"], "secondaryMuscles": ["ABS", "BICEPS",
        "TRICEPS", "FOREARM"]}, "IN_AND_OUT_WAVE": {"primaryMuscles": ["SHOULDERS",
        "BICEPS", "TRICEPS", "FOREARM"], "secondaryMuscles": ["ABS", "GLUTES", "QUADS",
        "CALVES", "LOWER_BACK", "HAMSTRINGS"]}, "INSIDE_CIRCLE": {"primaryMuscles":
        ["SHOULDERS", "CHEST"], "secondaryMuscles": ["FOREARM"]}, "JUMPING_JACKS":
        {"primaryMuscles": ["SHOULDERS", "CALVES", "ABDUCTORS", "ADDUCTORS", "QUADS",
        "HAMSTRINGS"], "secondaryMuscles": ["FOREARM"]}, "OUTSIDE_CIRCLE": {"primaryMuscles":
        ["SHOULDERS", "CHEST"], "secondaryMuscles": ["FOREARM"]}, "RAINBOW": {"primaryMuscles":
        ["SHOULDERS", "OBLIQUES"], "secondaryMuscles": ["ABS", "BICEPS", "TRICEPS",
        "FOREARM"]}, "SIDE_PLANK_WAVE": {"primaryMuscles": ["ABS", "OBLIQUES", "SHOULDERS",
        "FOREARM", "BICEPS", "TRICEPS"], "secondaryMuscles": []}, "SIDEWINDER": {"primaryMuscles":
        ["SHOULDERS", "OBLIQUES"], "secondaryMuscles": ["BICEPS", "TRICEPS", "FOREARM",
        "ABS"]}, "SITTING_RUSSIAN_TWIST": {"primaryMuscles": ["SHOULDERS", "OBLIQUES"],
        "secondaryMuscles": ["ABS", "BICEPS", "TRICEPS", "FOREARM"]}, "SNAKE_WAVE":
        {"primaryMuscles": ["SHOULDERS", "BICEPS", "TRICEPS", "FOREARM"], "secondaryMuscles":
        ["ABS", "GLUTES", "QUADS", "CALVES", "LOWER_BACK", "HAMSTRINGS"]}, "SPLIT_JACK":
        {"primaryMuscles": ["QUADS", "SHOULDERS"], "secondaryMuscles": ["OBLIQUES",
        "ABS", "BICEPS", "FOREARM", "CALVES", "GLUTES", "HAMSTRINGS", "HIPS"]}, "STAGE_COACH":
        {"primaryMuscles": ["SHOULDERS", "BICEPS", "TRICEPS", "FOREARM"], "secondaryMuscles":
        ["ABS", "GLUTES", "QUADS", "CALVES", "LOWER_BACK", "HAMSTRINGS"]}, "ULTIMATE_WARRIOR":
        {"primaryMuscles": ["SHOULDERS", "OBLIQUES", "QUADS", "HAMSTRINGS"], "secondaryMuscles":
        ["ABS", "BICEPS", "TRICEPS", "FOREARM"]}, "UPPER_CUTS": {"primaryMuscles":
        ["BICEPS", "SHOULDERS"], "secondaryMuscles": ["OBLIQUES", "ABS", "FOREARM"]}}},
        "BENCH_PRESS": {"primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS",
        "TRICEPS"], "exercises": {"ALTERNATING_DUMBBELL_CHEST_PRESS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}, "ALTERNATING_DUMBBELL_CHEST_PRESS_ON_SWISS_BALL":
        {"primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]},
        "BARBELL_BENCH_PRESS": {"primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS",
        "TRICEPS"]}, "BARBELL_BOARD_BENCH_PRESS": {"primaryMuscles": ["CHEST"], "secondaryMuscles":
        ["SHOULDERS", "TRICEPS"]}, "BARBELL_FLOOR_PRESS": {"primaryMuscles": ["CHEST"],
        "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}, "BENCH_PRESS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}, "CLOSE_GRIP_BARBELL_BENCH_PRESS":
        {"primaryMuscles": ["TRICEPS"], "secondaryMuscles": ["CHEST", "SHOULDERS"]},
        "DECLINE_DUMBBELL_BENCH_PRESS": {"primaryMuscles": ["CHEST"], "secondaryMuscles":
        ["SHOULDERS", "TRICEPS"]}, "DUMBBELL_BENCH_PRESS": {"primaryMuscles": ["CHEST"],
        "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}, "DUMBBELL_FLOOR_PRESS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}, "INCLINE_BARBELL_BENCH_PRESS":
        {"primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]},
        "INCLINE_DUMBBELL_BENCH_PRESS": {"primaryMuscles": ["CHEST"], "secondaryMuscles":
        ["SHOULDERS", "TRICEPS"]}, "INCLINE_SMITH_MACHINE_BENCH_PRESS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}, "ISOMETRIC_BARBELL_BENCH_PRESS":
        {"primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]},
        "KETTLEBELL_CHEST_PRESS": {"primaryMuscles": ["CHEST"], "secondaryMuscles":
        ["SHOULDERS", "TRICEPS"]}, "NEUTRAL_GRIP_DUMBBELL_BENCH_PRESS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}, "NEUTRAL_GRIP_DUMBBELL_INCLINE_BENCH_PRESS":
        {"primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]},
        "ONE_ARM_FLOOR_PRESS": {"counterpart": "WEIGHTED_ONE_ARM_FLOOR_PRESS", "isBodyWeight":
        true, "primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS",
        "ABS"]}, "PARTIAL_LOCKOUT": {"primaryMuscles": ["CHEST"], "secondaryMuscles":
        ["SHOULDERS", "TRICEPS"]}, "REVERSE_GRIP_BARBELL_BENCH_PRESS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}, "REVERSE_GRIP_INCLINE_BENCH_PRESS":
        {"primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]},
        "SINGLE_ARM_CABLE_CHEST_PRESS": {"primaryMuscles": ["CHEST"], "secondaryMuscles":
        ["SHOULDERS", "TRICEPS", "ABS"]}, "SINGLE_ARM_DUMBBELL_BENCH_PRESS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS", "ABS"]}, "SMITH_MACHINE_BENCH_PRESS":
        {"primaryMuscles": ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]},
        "SWISS_BALL_DUMBBELL_CHEST_PRESS": {"primaryMuscles": ["CHEST"], "secondaryMuscles":
        ["SHOULDERS", "TRICEPS"]}, "TRIPLE_STOP_BARBELL_BENCH_PRESS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}, "WEIGHTED_ONE_ARM_FLOOR_PRESS":
        {"counterpart": "ONE_ARM_FLOOR_PRESS", "primaryMuscles": ["CHEST"], "secondaryMuscles":
        ["SHOULDERS", "TRICEPS", "ABS"]}, "WIDE_GRIP_BARBELL_BENCH_PRESS": {"primaryMuscles":
        ["CHEST"], "secondaryMuscles": ["SHOULDERS", "TRICEPS"]}}}, "BIKE_OUTDOOR":
        {"exercises": {"BIKE": {"primaryMuscles": ["QUADS"], "secondaryMuscles": ["HAMSTRINGS",
        "GLUTES", "CALVES"]}}}, "CALF_RAISE": {"primaryMuscles": ["CALVES"], "secondaryMuscles":
        [], "exercises": {"_3_WAY_CALF_RAISE": {"counterpart": "_3_WAY_WEIGHTED_CALF_RAISE",
        "isBodyWeight": true, "primaryMuscles": ["CALVES"], "secondaryMuscles": []},
        "_3_WAY_SINGLE_LEG_CALF_RAISE": {"counterpart": "_3_WAY_WEIGHTED_SINGLE_LEG_CALF_RAISE",
        "isBodyWeight": true, "primaryMuscles": ["CALVES"], "secondaryMuscles": []},
        "_3_WAY_WEIGHTED_CALF_RAISE": {"counterpart": "_3_WAY_CALF_RAISE", "primaryMuscles":
        ["CALVES"], "secondaryMuscles": []}, "_3_WAY_WEIGHTED_SINGLE_LEG_CALF_RAISE":
        {"counterpart": "_3_WAY_SINGLE_LEG_CALF_RAISE", "primaryMuscles": ["CALVES"],
        "secondaryMuscles": []}, "CALF_RAISE": {"primaryMuscles": ["CALVES"], "secondaryMuscles":
        []}, "DONKEY_CALF_RAISE": {"counterpart": "WEIGHTED_DONKEY_CALF_RAISE", "isBodyWeight":
        true, "primaryMuscles": ["CALVES"], "secondaryMuscles": []}, "SEATED_CALF_RAISE":
        {"counterpart": "WEIGHTED_SEATED_CALF_RAISE", "isBodyWeight": true, "primaryMuscles":
        ["CALVES"], "secondaryMuscles": []}, "SEATED_DUMBBELL_TOE_RAISE": {"primaryMuscles":
        ["CALVES"], "secondaryMuscles": []}, "SINGLE_LEG_BENT_KNEE_CALF_RAISE": {"counterpart":
        "WEIGHTED_SINGLE_LEG_BENT_KNEE_CALF_RAISE", "isBodyWeight": true, "primaryMuscles":
        ["CALVES"], "secondaryMuscles": []}, "SINGLE_LEG_DECLINE_PUSH_UP": {"primaryMuscles":
        ["CHEST", "SHOULDERS", "TRICEPS"], "secondaryMuscles": ["ABS"]}, "SINGLE_LEG_DONKEY_CALF_RAISE":
        {"counterpart": "WEIGHTED_SINGLE_LEG_DONKEY_CALF_RAISE", "isBodyWeight": true,
        "primaryMuscles": ["CALVES"], "secondaryMuscles": []}, "SINGLE_LEG_HIP_RAISE_WITH_KNEE_HOLD":
        {"primaryMuscles": ["GLUTES"], "secondaryMuscles": ["HIPS", "HAMSTRINGS"]},
        "SINGLE_LEG_STANDING_CALF_RAISE": {"counterpart": "SINGLE_LEG_STANDING_DUMBBELL_CALF_RAISE",
        "isBodyWeight": true, "primaryMuscles": ["CALVES"], "secondaryMuscles": []},
        "SINGLE_LEG_STANDING_DUMBBELL_CALF_RAISE": {"counterpart": "SINGLE_LEG_STANDING_DUMBBELL_CALF_RAISE",
        "primaryMuscles": ["CALVES"], "secondaryMuscles": []}, "STANDING_BARBELL_CALF_RAISE":
        {"primaryMuscles": ["CALVES"], "secondaryMuscles": []}, "STANDING_CALF_RAISE":
        {"counterpart": "WEIGHTED_STANDING_CALF_RAISE", "isBodyWeight": true, "primaryMuscles":
        ["CALVES"], "secondaryMuscles": []}, "STANDING_DUMBBELL_CALF_RAISE": {"primaryMuscles":
        ["CALVES"], "secondaryMuscles": []}, "WEIGHTED_DONKEY_CALF_RAISE": {"counterpart":
        "DONKEY_CALF_RAISE", "primaryMuscles": ["CALVES"], "secondaryMuscles": []},
        "WEIGHTED_SEATED_CALF_RAISE": {"counterpart": "SEATED_CALF_RAISE", "primaryMuscles":
        ["CALVES"], "secondaryMuscles": []}, "WEIGHTED_SINGLE_LEG_BENT_KNEE_CALF_RAISE":
        {"counterpart": "SINGLE_LEG_BENT_KNEE_CALF_RAISE", "primaryMuscles": ["CALVES"],
        "secondaryMuscles": []}, "WEIGHTED_SINGLE_LEG_DONKEY_CALF_RAISE": {"counterpart":
        "SINGLE_LEG_DONKEY_CALF_RAISE", "primaryMuscles": ["CALVES"], "secondaryMuscles":
        []}, "WEIGHTED_STANDING_CALF_RAISE": {"counterpart": "STANDING_CALF_RAISE",
        "primaryMuscles": ["CALVES"], "secondaryMuscles": []}}}, "CARDIO": {"exercises":
        {"BOB_AND_WEAVE_CIRCLE": {"counterpart": "WEIGHTED_BOB_AND_WEAVE_CIRCLE",
        "isBodyWeight": true, "primaryMuscles": ["ABS"], "secondaryMuscles": ["HIPS"]},
        "CARDIO_CORE_CRAWL": {"counterpart": "WEIGHTED_CARDIO_CORE_CRAWL", "isBodyWeight":
        true, "primaryMuscles": ["ABS", "HIPS"], "secondaryMuscles": ["GLUTES", "LOWER_BACK",
        "TRAPS", "QUADS", "SHOULDERS"]}, "DOUBLE_UNDER": {"counterpart": "WEIGHTED_DOUBLE_UNDER",
        "isBodyWeight": true, "primaryMuscles": ["CALVES"], "secondaryMuscles": ["HAMSTRINGS",
        "GLUTES"]}, "JUMP_ROPE": {"counterpart": "WEIGHTED_JUMP_ROPE", "isBodyWeight":
        true, "primaryMuscles": ["CALVES"], "secondaryMuscles": ["HAMSTRINGS", "GLUTES"]},
        "JUMP_ROPE_CROSSOVER": {"counterpart": "WEIGHTED_JUMP_ROPE_CROSSOVER", "isBodyWeight":
        true, "primaryMuscles": ["CALVES"], "secondaryMuscles": ["HAMSTRINGS", "GLUTES"]},
        "JUMP_ROPE_JOG": {"counterpart": "WEIGHTED_JUMP_ROPE_JOG", "isBodyWeight":
        true, "primaryMuscles": ["CALVES"], "secondaryMuscles": ["HAMSTRINGS", "GLUTES"]},
        "JUMPING_JACKS": {"counterpart": "WEIGHTED_JUMPING_JACKS", "isBodyWeight":
        true, "primaryMuscles": ["QUADS", "GLUTES", "ADDUCTORS", "ABDUCTORS"], "secondaryMuscles":
        ["CALVES", "SHOULDERS"]}, "SKI_MOGULS": {"counterpart": "WEIGHTED_SKI_MOGULS",
        "isBodyWeight": true, "primaryMuscles": ["GLUTES"], "secondaryMuscles": ["HAMSTRINGS"]},
        "SPLIT_JACKS": {"counterpart": "WEIGHTED_SPLIT_JACKS", "isBodyWeight": true,
        "primaryMuscles": ["GLUTES", "HAMSTRINGS"], "secondaryMuscles": ["HIPS"]},
        "SQUAT_JACKS": {"counterpart": "WEIGHTED_SQUAT_JACKS", "isBodyWeight": true,
        "primaryMuscles": ["QUADS", "GLUTES", "CALVES"], "secondaryMuscles": ["ABDUCTORS"]},
        "TRIPLE_UNDER": {"counterpart": "WEIGHTED_TRIPLE_UNDER", "isBodyWeight": true,
        "primaryMuscles": ["CALVES"], "secondaryMuscles": ["HAMSTRINGS", "GLUTES"]},
        "WEIGHTED_BOB_AND_WEAVE_CIRCLE": {"counterpart": "BOB_AND_WEAVE_CIRCLE", "primaryMuscles":
        ["ABS"], "secondaryMuscles": ["HIPS"]}, "WEIGHTED_CARDIO_CORE_CRAWL": {"counterpart":
        "CARDIO_CORE_CRAWL", "primaryMuscles": ["ABS", "HIPS"], "secondaryMuscles":
        ["GLUTES", "LOWER_BACK", "TRAPS", "QUADS", "SHOULDERS"]}, "WEIGHTED_DOUBLE_UNDER":
        {"counterpart": "DOUBLE_UNDER", "primaryMuscles": ["CALVES"], "secondaryMuscles":
        ["HAMSTRINGS", "GLUTES"]}, "WEIGHTED_JUMP_ROPE": {"counterpart": "JUMP_ROPE",
        "primaryMuscles": ["CALVES"], "secondaryMuscles": ["HAMSTRINGS", "GLUTES"]},
        "WEIGHTED_JUMP_ROPE_CROSSOVER": {"counterpart": "JUMP_ROPE_CROSSOVER", "primaryMuscles":
        ["CALVES"], "secondaryMuscles": ["HAMSTRINGS", "GLUTES"]}, "WEIGHTED_JUMP_ROPE_JOG":
        {"counterpart": "JUMP_ROPE_JOG", "primaryMuscles": ["CALVES"], "secondaryMuscles":
        ["HAMSTRINGS", "GLUTES"]}, "WEIGHTED_JUMPING_JACKS": {"counterpart": "JUMPING_JACKS",
        "primaryMuscles": ["QUADS", "GLUTES", "ADDUCTORS", "ABDUCTORS"], "secondaryMuscles":
        ["CALVES", "SHOULDERS"]}, "WEIGHTED_SKI_MOGULS": {"counterpart": "SKI_MOGULS",
        "primaryMuscles": ["GLUTES"], "secondaryMuscles": ["HAMSTRINGS"]}, "WEIGHTED_SPLIT_JACKS":
        {"counterpart": "SPLIT_JACKS", "primaryMuscles": ["GLUTES", "HAMSTRINGS"],
        "secondaryMuscles": ["HIPS"]}, "WEIGHTED_SQUAT_JACKS": {"counterpart": "SQUAT_JACKS",
        "primaryMuscles": ["QUADS", "GLUTES", "CALVES"], "secondaryMuscles": ["ABDUCTORS"]},
        "WEIGHTED_TRIPLE_UNDER": {"counterpart": "TRIPLE_UNDER", "primaryMuscles":
        ["CALVES"], "secondaryMuscles": ["HAMSTRINGS", "GLUTES"]}}}, "CARRY": {"primaryMuscles":
        ["FOREARM"], "secondaryMuscles": [], "exercises": {"BAR_HOLDS": {"primaryMuscles":
        ["FOREARM"], "secondaryMuscles": []}, "CARRY": {"primaryMuscles": ["FOREARM"],
        "secondaryMuscles": []}, "DUMBBELL_WAITER_CARRY": {"primaryMuscles": ["SHOULDERS"],
        "secondaryMuscles": []}, "FARMERS_CARRY": {"primaryMuscles": ["FOREARM"],
        "secondaryMuscles": ["HAMSTRINGS", "QUADS", "LOWER_BACK", "TRAPS", "SHOULDERS"]},
        "FARMERS_CARRY_ON_TOES": {"primaryMuscles": ["FOREARM", "CALVES"], "secondaryMuscles":
        ["HAMSTRINGS", "QUADS", "LOWER_BACK", "TRAPS", "SHOULDERS"]}, "FARMERS_CARRY_WALK_LUNGE":
        {"primaryMuscles": ["FOREARM", "QUADS"], "secondaryMuscles": ["GLUTES", "HAMSTRINGS",
        "QUADS", "LOWER_BACK", "TRAPS", "SHOULDERS"]}, "FARMERS_WALK": {"primaryMuscles":
        ["FOREARM"], "secondaryMuscles": ["HAMSTRINGS", "QUADS", "LOWER_BACK", "TRAPS",
        "SHOULDERS"]}, "FARMERS_WALK_ON_TOES": {"primaryMuscles": ["FOREARM", "CALVES"],
        "secondaryMuscles": ["HAMSTRINGS", "QUADS", "LOWER_BACK", "TRAPS", "SHOULDERS"]},
        "HEX_DUMBBELL_HOLD": {"primaryMuscles": ["FOREARM"], "secondaryMuscles": []},
        "OVERHEAD_CARRY": {"primaryMuscles": ["FOREARM"], "secondaryMuscles": ["SHOULDERS",
        "TRAPS"]}}}, "CHOP": {"primaryMuscles": ["OBLIQUES"], "secondaryMuscles":
        ["ABS"], "exercises": {"CABLE_PULL_THROUGH": {"primaryMuscles": ["GLUTES",
        "HAMSTRINGS"], "secondaryMuscles": ["LOWER_BACK"]}, "CABLE_ROTATIONAL_LIFT":
        {"primaryMuscles": ["ABS"], "secondaryMuscles": ["SHOULDERS", "HIPS"]}, "CABLE_WOODCHOP":
        {"primaryMuscles": ["OBLIQUES"], "secondaryMuscles": ["ABS"]}, "CHOP": {"primaryMuscles":
        ["OBLIQUES"], "secondaryMuscles": ["ABS"]}, "CROSS_CHOP_TO_KNEE": {"counterpart":
        "WEIGHTED_CROSS_CHOP_TO_KNEE", "isBodyWeight": true, "primaryMuscles": ["OBLIQUES",
        "ABS"], "secondaryMuscles": ["HIPS"]}, "DUMBBELL_CHOP": {"primaryMuscles":
        ["OBLIQUES", "ABS", "SHOULDERS"], "secondaryMuscles": ["LOWER_BACK", "HIPS"]},
        "HALF_KNEELING_ROTATION": {"counterpart": "WEIGHTED_HALF_KNEELING_ROTATION",
        "isBodyWeight": true, "primaryMuscles": ["OBLIQUES", "ABS"], "secondaryMuscles":
        ["HIPS"]}, "HALF_KNEELING_ROTATIONAL_CHOP": {"primaryMuscles": ["OBLIQUES"],
        "secondaryMuscles": ["ABS"]}, "HALF_KNEELING_ROTATIONAL_REVERSE_CHOP": {"primaryMuscles":
        ["OBLIQUES"], "secondaryMuscles": ["ABS", "SHOULDERS"]}, "HALF_KNEELING_STABILITY_CHOP":
        {"primaryMuscles": ["OBLIQUES"], "secondaryMuscles": ["ABS", "SHOULDERS"]},
        "HALF_KNEELING_STABILITY_REVERSE_CHOP": {"primaryMuscles": ["OBLIQUES"], "secondaryMuscles":
        ["ABS", "SHOULDERS"]}, "KNEELING_ROTATIONAL_CHOP": {"primaryMuscles": ["OBLIQUES"],
        "secondaryMuscles": ["ABS", "SHOULDERS"]}, "KNEELING_ROTATIONAL_REVERSE_CHOP":
        {"primaryMuscles": ["OBLIQUES"], "secondaryMuscles": ["ABS", "SHOULDERS"]},
        "KNEELING_STABILITY_CHOP": {"primaryMuscles": ["OBLIQUES"], "secondaryMuscles":
        ["ABS", "SHOULDERS"]}, "KNEELING_WOODCHOPPER": {"primaryMuscles": ["OBLIQUES"],
        "secondaryMuscles": ["ABS", "SHOULDERS"]}, "MEDICINE_BALL_WOOD_CHOPS": {"primaryMuscles":
        ["OBLIQUES"], "secondaryMuscles": ["ABS", "SHOULDERS"]}, "POWER_SQUAT_CHOPS":
        {"counterpart": "WEIGHTED_POWER_SQUAT_CHOPS", "isBodyWeight": true, "primaryMuscles":
        ["OBLIQUES", "QUADS", "GLUTES"], "secondaryMuscles": ["ABS", "HIPS"]}, "STANDING_ROTATIONAL_CHOP":
        {"primaryMuscles": ["OBLIQUES", "TRICEPS"], "secondaryMuscles": ["ABS", "SHOULDERS"]},
        "STANDING_SPLIT_ROTATIONAL_CHOP": {"primaryMuscles": ["OBLIQUES", "TRICEPS"],
        "secondaryMuscles": ["ABS", "SHOULDERS"]}, "STANDING_SPLIT_ROTATIONAL_REVERSE_CHOP":
[...]
