interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 369946353, "profileId": 75620387, "garminGUID": "6fb98690-f511-4145-afed-1a660d8a05a3",
        "displayName": "28b8ca52-820b-4597-9bbb-6d76e1498867", "fullName": "Oskar",
        "userName": "oskar.salgado@gmail.com", "profileImageUuid": "0a5e9f44-4b61-4702-94f2-91363bd0d9f0",
        "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/0a5e9f44-4b61-4702-94f2-91363bd0d9f0-75620387.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/c87431ff-0530-4002-b23f-1dd91534f23d-75620387.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/d891cdfb-a406-40a0-a10b-1ff764a89599-75620387.png",
        "location": "", "facebookUrl": "", "twitterUrl": "", "personalWebsite": "",
        "motivation": 2, "bio": null, "primaryActivity": "running", "favoriteActivityTypes":
        ["running", "cycling", "swimming", "walking", "hiking", "weight_training"],
        "runningTrainingSpeed": 3.6363637, "cyclingTrainingSpeed": 5.555556, "favoriteCyclingActivityTypes":
        ["road", "mountain"], "cyclingClassification": "recreation", "cyclingMaxAvgPower":
        0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility": "private", "activityStartVisibility":
        "public", "activityMapVisibility": "public", "courseVisibility": "public",
        "activityHeartRateVisibility": "public", "activityPowerVisibility": "public",
        "badgeVisibility": "private", "showAge": false, "showWeight": false, "showHeight":
        false, "showWeightClass": false, "showAgeRange": false, "showGender": false,
        "showActivityClass": false, "showVO2Max": false, "showPersonalRecords": false,
        "showLast12Months": true, "showLifetimeTotals": true, "showUpcomingEvents":
        false, "showRecentFavorites": false, "showRecentDevice": false, "showRecentGear":
        false, "showBadges": false, "otherActivity": "", "otherPrimaryActivity": null,
        "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ", "SCOPE_ATP_WRITE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ",
        "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD",
        "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ",
        "SCOPE_INSIGHTS_WRITE", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_MARINE_USER", "ROLE_TACX_APP_USER"],
        "nameApproved": true, "userProfileFullName": "Oskar", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 7, "userPoint": 1561, "levelUpdateDate": "2023-07-07T12:13:00.0",
        "levelIsViewed": false, "levelPointThreshold": 2540, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 75620387, "userData": {"gender": "MALE", "weight": 73800.0,
        "height": 178.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1981-02-02",
        "measurementSystem": "metric", "activityLevel": 8, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 53.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.3555545600000001, "lactateThresholdHeartRate":
        null, "diveNumber": 50, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [{"name": null, "volume": 250, "unit": "milliliter"},
        {"name": null, "volume": 500, "unit": "milliliter"}, {"name": null, "volume":
        750, "unit": "milliliter"}], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        26, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp": 1063780297,
        "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null, "trainingStatusPausedDate":
        null, "weatherLocation": {"useFixedLocation": false, "latitude": 42.8509107,
        "longitude": -2.6423136, "locationName": "Gasteiz, Euskadi", "isoCountryCode":
        "ES", "postalCode": "01192"}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": 0}, "userSleep": {"sleepTime":
        75600, "defaultSleepTime": false, "wakeTime": 34200, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/info-service/api/system/release-system
  response:
    body:
      string: '[{"app": "release-system", "project": "system", "version": "23.19.3.0",
        "time": "Mon Oct 02 17:52:10 UTC 2023"}]'
    headers:
      Content-Type:
      - application/json
      x-vcap-request-id:
      - 6a81522b-36f2-4548-58c6-7e77552c9970
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/calendar-service/year/2023/month/9
  response:
    body:
      string: '{"startDayOfMonth": 0, "numOfDaysInMonth": 31, "numOfDaysInPrevMonth":
        30, "month": 9, "year": 2023, "calendarItems": [{"id": 14504640, "groupId":
        null, "trainingPlanId": null, "itemType": "event", "activityTypeId": 1, "wellnessActivityUuid":
        null, "title": "Ponle Freno Vitoria-Gasteiz 2023", "date": "2023-09-24", "duration":
        null, "distance": null, "calories": null, "floorsClimbed": null, "avgRespirationRate":
        null, "unitOfPoolLength": null, "weight": null, "difference": null, "courseId":
        null, "courseName": null, "sportTypeKey": null, "url": "https://www.rockthesport.com/es/evento/ponle-freno-vitoria-2023",
        "isStart": null, "isRace": true, "recurrenceId": null, "isParent": null, "parentId":
        null, "userBadgeId": null, "badgeCategoryTypeId": null, "badgeCategoryTypeDesc":
        null, "badgeAwardedDate": null, "badgeViewed": null, "hideBadge": null, "startTimestampLocal":
        null, "eventTimeLocal": {"startTimeHhMm": "10:30", "timeZoneId": "Europe/Paris"},
        "diveNumber": null, "maxDepth": null, "avgDepth": null, "surfaceInterval":
        null, "elapsedDuration": null, "lapCount": null, "bottomTime": null, "atpPlanId":
        null, "workoutId": null, "protectedWorkoutSchedule": false, "activeSets":
        null, "strokes": null, "noOfSplits": null, "maxGradeValue": null, "totalAscent":
        null, "differenceStress": null, "climbDuration": null, "maxSpeed": null, "averageHR":
        null, "activeSplitSummaryDuration": null, "maxSplitDistance": null, "maxSplitSpeed":
        null, "location": null, "shareableEventUuid": null, "splitSummaryMode": null,
        "completionTarget": {"value": 5.0, "unit": "kilometer", "unitType": "distance"},
        "phasedTrainingPlan": null, "subscribed": null, "shareableEvent": false, "primaryEvent":
        false, "autoCalcCalories": null, "decoDive": null}, {"id": 14466937, "groupId":
        null, "trainingPlanId": null, "itemType": "event", "activityTypeId": 1, "wellnessActivityUuid":
        null, "title": "Salto DSS 15K 2023", "date": "2023-10-22", "duration": null,
        "distance": null, "calories": null, "floorsClimbed": null, "avgRespirationRate":
        null, "unitOfPoolLength": null, "weight": null, "difference": null, "courseId":
        32006516, "courseName": null, "sportTypeKey": null, "url": "https://15ksansebastian.com/",[...]
