interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 369946353, "profileId": 75620387, "garminGUID": "6fb98690-f511-4145-afed-1a660d8a05a3",
        "displayName": "28b8ca52-820b-4597-9bbb-6d76e1498867", "fullName": "Oskar",
        "userName": "oskar.salgado@gmail.com", "profileImageUuid": "0a5e9f44-4b61-4702-94f2-91363bd0d9f0",
        "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/0a5e9f44-4b61-4702-94f2-91363bd0d9f0-75620387.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/c87431ff-0530-4002-b23f-1dd91534f23d-75620387.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/d891cdfb-a406-40a0-a10b-1ff764a89599-75620387.png",
        "location": "", "facebookUrl": "", "twitterUrl": "", "personalWebsite": "",
        "motivation": 2, "bio": null, "primaryActivity": "running", "favoriteActivityTypes":
        ["running", "cycling", "swimming", "walking", "hiking", "weight_training"],
        "runningTrainingSpeed": 3.6363637, "cyclingTrainingSpeed": 5.555556, "favoriteCyclingActivityTypes":
        ["road", "mountain"], "cyclingClassification": "recreation", "cyclingMaxAvgPower":
        0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility": "private", "activityStartVisibility":
        "public", "activityMapVisibility": "public", "courseVisibility": "public",
        "activityHeartRateVisibility": "public", "activityPowerVisibility": "public",
        "badgeVisibility": "private", "showAge": false, "showWeight": false, "showHeight":
        false, "showWeightClass": false, "showAgeRange": false, "showGender": false,
        "showActivityClass": false, "showVO2Max": false, "showPersonalRecords": false,
        "showLast12Months": true, "showLifetimeTotals": true, "showUpcomingEvents":
        false, "showRecentFavorites": false, "showRecentDevice": false, "showRecentGear":
        false, "showBadges": false, "otherActivity": "", "otherPrimaryActivity": null,
        "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ", "SCOPE_ATP_WRITE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ",
        "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD",
        "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ",
        "SCOPE_INSIGHTS_WRITE", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_MARINE_USER", "ROLE_TACX_APP_USER"],
        "nameApproved": true, "userProfileFullName": "Oskar", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 7, "userPoint": 1561, "levelUpdateDate": "2023-07-07T12:13:00.0",
        "levelIsViewed": false, "levelPointThreshold": 2540, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 75620387, "userData": {"gender": "MALE", "weight": 73800.0,
        "height": 178.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1981-02-02",
        "measurementSystem": "metric", "activityLevel": 8, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 53.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.3555545600000001, "lactateThresholdHeartRate":
        null, "diveNumber": 50, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [{"name": null, "volume": 250, "unit": "milliliter"},
        {"name": null, "volume": 500, "unit": "milliliter"}, {"name": null, "volume":
        750, "unit": "milliliter"}], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        26, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp": 1063780297,
        "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null, "trainingStatusPausedDate":
        null, "weatherLocation": {"useFixedLocation": false, "latitude": 42.8509107,
        "longitude": -2.6423136, "locationName": "Gasteiz, Euskadi", "isoCountryCode":
        "ES", "postalCode": "01192"}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": 0}, "userSleep": {"sleepTime":
        75600, "defaultSleepTime": false, "wakeTime": 34200, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/info-service/api/system/release-system
  response:
    body:
      string: '[{"app": "release-system", "project": "system", "version": "23.19.3.0",
        "time": "Mon Oct 02 17:52:10 UTC 2023"}]'
    headers:
      Content-Type:
      - application/json
      x-vcap-request-id:
      - a6047742-7ce5-4a27-5090-77992ed13498
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/workout-service/workouts?start=0&limit=100
  response:
    body:
      string: '[{"workoutId": 753042610, "ownerId": 75620387, "workoutName": "R2_7-Endurance",
        "description": "Plan: HalfGasteiz2023. Estimated Duration: 1:39:00; 18.0 km.
        70.0% vVO2. rTSS: 64", "updateDate": "2023-10-02T05:45:53.0", "createdDate":
        "2023-10-02T05:45:53.0", "sportType": {"sportTypeId": 1, "sportTypeKey": "running",
        "displayOrder": 1}, "trainingPlanId": null, "author": {"userProfilePk": null,
        "displayName": null, "fullName": null, "profileImgNameLarge": null, "profileImgNameMedium":
        null, "profileImgNameSmall": null, "userPro": false, "vivokidUser": false},
        "estimatedDurationInSecs": 5940, "estimatedDistanceInMeters": 18000.0, "estimateType":
        null, "estimatedDistanceUnit": {"unitId": null, "unitKey": null, "factor":
        null}, "poolLength": 0.0, "poolLengthUnit": {"unitId": null, "unitKey": null,
        "factor": null}, "workoutProvider": null, "workoutSourceId": null, "consumer":
        null, "atpPlanId": null, "workoutNameI18nKey": null, "descriptionI18nKey":
        null, "shared": false, "estimated": true}, {"workoutId": 753042593, "ownerId":
        75620387, "workoutName": "R2_6-Speed", "description": "Plan: HalfGasteiz2023.
        Estimated Duration: 0:23:24; 4.0 km. 66.0% vVO2. rTSS: 13", "updateDate":
        "2023-10-02T05:45:52.0", "createdDate": "2023-10-02T05:45:52.0", "sportType":
        {"sportTypeId": 1, "sportTypeKey": "running", "displayOrder": 1}, "trainingPlanId":
        null, "author": {"userProfilePk": null, "displayName": null, "fullName": null,
        "profileImgName[...]
[...]
