interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 411018016, "profileId": 116650904, "garminGUID": "3581c6a4-5ec4-46ac-9136-a546d7f848c4",
        "displayName": "1fd0fe00-1bc5-4ea5-83ff-0e1c1e3c82c7", "fullName": "Oscar
        Salgado", "userName": "o26188979@gmail.com", "profileImageUuid": null, "profileImageUrlLarge":
        null, "profileImageUrlMedium": null, "profileImageUrlSmall": null, "location":
        null, "facebookUrl": null, "twitterUrl": null, "personalWebsite": null, "motivation":
        null, "bio": null, "primaryActivity": null, "favoriteActivityTypes": [], "runningTrainingSpeed":
        0.0, "cyclingTrainingSpeed": 0.0, "favoriteCyclingActivityTypes": [], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "private", "activityStartVisibility": "public", "activityMapVisibility": "public",
        "courseVisibility": "public", "activityHeartRateVisibility": "public", "activityPowerVisibility":
        "public", "badgeVisibility": "following", "showAge": false, "showWeight":
        false, "showHeight": false, "showWeightClass": false, "showAgeRange": false,
        "showGender": false, "showActivityClass": false, "showVO2Max": false, "showPersonalRecords":
        true, "showLast12Months": true, "showLifetimeTotals": true, "showUpcomingEvents":
        true, "showRecentFavorites": true, "showRecentDevice": true, "showRecentGear":
        false, "showBadges": true, "otherActivity": null, "otherPrimaryActivity":
        null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ", "SCOPE_ATP_WRITE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ",
        "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD",
        "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ",
        "SCOPE_INSIGHTS_WRITE", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER"],
        "nameApproved": true, "userProfileFullName": "Oscar Salgado", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 1, "userPoint": 0, "levelUpdateDate": "2023-09-28T15:28:35.0",
        "levelIsViewed": false, "levelPointThreshold": 20, "userPointOffset": 0, "userPro":
        false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 116650904, "userData": {"gender": null, "weight": null, "height":
        null, "timeFormat": "time_twelve_hr", "birthDate": null, "measurementSystem":
        "statute_us", "activityLevel": null, "handedness": null, "powerFormat": {"formatId":
        30, "formatKey": "watt", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        true, "displayFormat": null}, "heartRateFormat": {"formatId": 21, "formatKey":
        "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed": false, "displayFormat":
        null}, "firstDayOfWeek": {"dayId": 2, "dayName": "sunday", "sortOrder": 2,
        "isPossibleFirstDay": true}, "vo2MaxRunning": null, "vo2MaxCycling": null,
        "lactateThresholdSpeed": null, "lactateThresholdHeartRate": null, "diveNumber":
        null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "firstbeatMaxStressScore": null, "firstbeatCyclingLtTimestamp":
        null, "firstbeatRunningLtTimestamp": null, "thresholdHeartRateAutoDetected":
        null, "ftpAutoDetected": null, "trainingStatusPausedDate": null, "weatherLocation":
        {"useFixedLocation": null, "latitude": null, "longitude": null, "locationName":
        null, "isoCountryCode": null, "postalCode": null}, "golfDistanceUnit": "statute_us",
        "golfElevationUnit": null, "golfSpeedUnit": null, "externalBottomTime": null,
        "availableTrainingDays": ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY",
        "SATURDAY", "SUNDAY"], "preferredLongTrainingDays": []}, "userSleep": {"sleepTime":
        79200, "defaultSleepTime": true, "wakeTime": 21600, "defaultWakeTime": true},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/info-service/api/system/release-system
  response:
    body:
      string: '[{"app": "release-system", "project": "system", "version": "23.21.1.1",
        "time": "Mon Oct 23 03:31:25 UTC 2023"}]'
    headers:
      Content-Type:
      - application/json
      x-vcap-request-id:
      - 4cb4ef77-80fc-41c8-47b5-c307630b795c
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/index_04_2022_d6f4482b-f983-4e55-9d8d-0061e160abe7.json
  response:
    body:
      string: '{"workouts": [{"workoutName": "10-Minute Body Weight AMRAP", "duration":
        600, "difficulty": "INTERMEDIATE", "filePath": "/web-data/workouts/en-US/GGeycJW.json",
        "heroImage": "/web-images/workouts/images/heroImage_GGeycJW.png", "sportTypeKey":
        "hiit", "workoutSourceId": "GGeycJW", "bodyParts": ["TOTAL_BODY"], "equipment":
        [], "goals": ["MUSCLE_ENDURANCE"], "primaryMuscles": ["ABDUCTORS", "ABS",
        "ADDUCTORS", "CALVES", "CHEST", "GLUTES", "HIPS", "QUADS"]}, {"workoutName":
        "15-Minute Ab Burner", "duration": 900, "difficulty": "BEGINNER", "filePath":
        "/web-data/workouts/en-US/GGpVOOe.json", "heroImage": "/web-images/workouts/images/heroImage_GGpVOOe.png",
        "sportTypeKey": "pilates", "workoutSourceId": "GGpVOOe", "bodyParts": [],
        "equipment": [], "goals": ["ABS", "STRENGTH", "FLEXIBILITY", "MOBILITY", "BREATHING"],
        "primar[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGeycJW.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 600, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "A strength-training
        routine you can do anywhere. Complete as many rounds as possible in 10 minutes.",
        "focus": "Muscle Endurance", "goals": "Muscle Endurance", "how": "", "imageAttribution":
        "Getty Images", "locale": "en-US", "sportType": {"sportTypeId": 9, "sportTypeKey":
        "hiit"}, "subSportType": "AMRAP", "workoutName": "10-Minute Body Weight AMRAP",
        "workoutProvider": "Garmin", "workoutSegments": [{"segmentOrder": 1, "sportType":
        {"sportTypeId": 9, "sportTypeKey": "hiit"}, "workoutSteps": [{"type": "RepeatGroupDTO",
        "stepOrder": 1, "stepType": {"stepTypeId": 6, "stepTypeKey": "repeat"}, "childStepId":
        1, "numberOfIterations": null, "workoutSteps": [{"type": "ExecutableStepDTO",
        "stepOrder": 2, "stepType": {"stepTypeId": 3, "stepTypeKey": "interval"},
        "childStepId": 1, "description": null, "endCondition": {"conditionTypeId":
        10, "conditionTypeKey": "reps", "displayOrder": 10, "displayable": true},
        "endConditionValue": 5, "preferredEndConditionUnit": null, "endConditionCompare":
        null, "targetType": {"workoutTargetTypeId": 1, "workoutTargetTypeKey": "no.target",
        "displayOrder": 1}, "equipmentType": {"equipmentTypeId": null, "equipmentTypeKey":
        null, "displayOrder": null}, "category": "PUSH_UP", "exerciseName": "PUSH_UP",
        "workoutProvider": "Garmin", "providerExerciseSourceId": null}, {"type": "ExecutableStepDTO",
        "stepOrder": 3, "stepType": {"stepTypeId": 3, "stepTypeKey": "interval", "displayOrder":
        3}, "childStepId": 1, "description": null, "endCondition": {"conditionTypeId":
        10, "conditionTypeKey": "reps", "displayOrder": 10, "displayable": true},
        "endConditionValue": 10, "preferredEndConditionUnit": null, "endConditionCompare":
        null, "targetType": {"workoutTargetTypeId": 1, "workoutTargetTypeKey": "no.target",
        "disp[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGpVOOe.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 900, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "Feel the burn with
        this Pilates core workout that targets the six-pack, lower abs and obliques.
        These Pilates moves will activate those de[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGllYVt.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 900, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "A cardio workout
        with plenty of volume to build strength and burn fat in just 15 minutes. No
        equipment needed, so you can sweat it out[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGrGTHT.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1800, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Advanced", "description": "This 30-minute
        EMOM includes three rounds of 10 exercises, 30 reps each. You\u2019ll work
        at the top of every minute. Once the reps are c[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtObXU.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1800, "estimatedDistanceInMeters": null,
        "bodyParts": "Total Body", "difficulty": "Beginner", "description": "Guys
        love to train chest. So much so, in fact, that they''ll spend an hour or more
        on it, pounding their pecs with so many sets[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGhobBo.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 600, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "After a five-minute
        dynamic warmup, complete the following workout: 40 seconds of intense work,
        where you try and get as many reps of each[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGyWDEj.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 300, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "Five exercises
        in five minutes.Try to get in as many reps as possible in one minute for each
        move. Keep track and challenge yourself t[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGyFrni.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 300, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "Strengthen
        your abs and work your arms and legs with this five-minute core burner. This
        no-equipment plank workout is quick and effect[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtO2gW.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 4200, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "Moves meant to
        loosen up after too many hours at a desk.Sitting at a desk all day leads to
        tightness in your shoulders, back, hips, hamst[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtO2he.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 2700, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "Perfect your technique
        performing basic poses.Good alignment will help keep you safe as you move
        through different yoga poses. This routi[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGnVqCU.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 600, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "This 10-minute
        ab AMRAP is a perfect finisher or standalone core workout. Pace yourself through
        20 reps of five targeted ab exercises [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtOeuH.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 300, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "Learn to move one
        segment at a time.Articulation of the spine-moving one vertebra at a time-is
        a foundational movement in Pilates. It wake[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtO9vr.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1800, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "Learn how to do
        classic Pilates moves.This workout focuses on basic Pilates moves. You''ll
        learn to monitor your breathing as you learn t[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtOgCV.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 3600, "estimatedDistanceInMeters": null,
        "bodyParts": "Total Body", "difficulty": "Beginner", "description": "Sometimes
        you don''t need fancy exercises or equipment. Instead, a simplified approach
        could be all that stands between you and[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtObZn.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1500, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "Develop focus
        with controlled poses.This routine is a combination of standing poses, which
        require focus, and forward bends, which dr[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtNZR0.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1800, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "Core moves
        to prep  for baring your belly in a bathing suit.These exercises are designed
        to get your body fit for summer. This fast-p[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGpmXTj.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1080, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "All you need is
        18 minutes for this at-home, no-equipment EMOM workout that cycles through
        three rounds of six exercises. You\u2019ll wor[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtObWr.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 900, "estimatedDistanceInMeters": null,
        "bodyParts": "Total Body", "difficulty": "Intermediate", "description": "Sometimes
        it''s best to follow the KISS method: Keep It Simple, Stupid. And when in
        the gym-a place with machines and endles[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtO9vd.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 300, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "Lengthen your
        torso and develop back strength.Spinal extension is a fundamental movement
        principle in Pilates. In practice, the front [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtO2fm.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1800, "estimatedDistanceInMeters": null,
        "bodyParts": "Lower Body", "difficulty": "Advanced", "description": "Summer
        is just around the corner, so grab a pair of dumbbells (heavy enough to fatigue
        your legs within about 15 reps) and get [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtOeuN.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 300, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "Curl forward
        with precision.Flexion is a fundamental movement principle in Pilates. It
        involves bending a joint (such as your hip) to [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGVyYLD.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 480, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "Release, rejuvenate
        and strengthen your muscles with this eight-move sequence. This yoga flow
        is especially good to incorporate after an i[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtO4jb.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 2700, "estimatedDistanceInMeters": null,
        "bodyParts": "Total Body", "difficulty": "Intermediate", "description": "We
        all hate those workouts. You know the one''s we''re talking about. They''re
        slow. They''re boring. And they don''t seem [...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtOevG.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1200, "estimatedDistanceInMeters": null,
        "bodyParts": "Glutes", "difficulty": "Intermediate", "description": "It''s
        easy to forget about the biggest muscle in your body when you''re sitting
        on it all day.  But it''s important to keep you[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtObWT.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1200, "estimatedDistanceInMeters": null,
        "bodyParts": "Arms", "difficulty": "Intermediate", "description": "Whether
        you want to pump up your guns or banish underarm jiggle, this fast-but-thorough
        routine will help you sculpt the guns of your dream.  Three exercises are
        all you need to challenge every muscle in your arm, according to Mike Ryan
        of the Gold''s Gym Institute.  By working the biceps, triceps and forearm
        in tandem, you''ll get a focused upper-body workout that builds chiseled definition
        in men and sexy strength in women.", "focus": "Strength", "goals": "Build
        Muscle", "how": "Use xx lbs ......", "imageAttribution": "Gold''s Gym", "locale":
        "en-US", "sportType": {"sportTypeId": 5, "sportTypeKey": "strength_training"},
        "workoutName": "Gold''s Gym : The Arms Race", "workoutProvider": "MSN", "workoutSegments":
        [{"segmentOrder": 1, "sportType": {"sportTypeId": 5, "sportTypeKey": "strength_training",
        "displayOrder": 4}, "workoutSteps": [{"type": "RepeatGroupDTO", "stepId":
        1224973894, "stepOrder": 1, "stepType": {"stepTypeId": 6, "stepTypeKey": "repeat",
        "displayOrder": 6}, "childStepId": 1, "numberOfIterations": 4, "workoutSteps":
        [{"type": "ExecutableStepDTO", "stepId": 1224973895, "stepOrder": 2, "stepType":
        {"stepTypeId": 3, "stepTypeKey": "interval", "displayOrder": 3}, "childStepId":
        1, "description": null, "endCondition": {"conditionTypeId": 10, "conditionTypeKey":
        "reps", "displayOrder": 10, "displayable": true}, "endConditionValue": 12,
        "preferredEndConditionUnit": null, "endConditionCompare": null, "targetType":
        {"workoutTargetTypeId": 1, "workoutTargetTypeKey": "no.target", "displayOrder":
        1}, "targetValueOne": null, "targetValueTwo": null, "targetValueUnit": null,
        "zoneNumber": null, "endConditionZone": null, "strokeType": {"strokeTypeId":
        null, "strokeTypeKey": null, "displayOrder": null}, "equipmentType": {"equipmentTypeId":
        null, "equipmentTypeKey": null, "displayOrder": null}, "category": "CURL",
        "exerciseName": "ALTERNATING_DUMBBELL_BICEPS_CURL", "workoutProvider": null,
        "providerExerciseSourceId": null, "weightValue": null, "weightUnit": {"unitId":
        9, "unitKey": "pound", "factor": 453.59237}}, {"type": "ExecutableStepDTO",
        "stepId": 1224973896, "stepOrder": 3, "stepType": {"stepTypeId": 5, "stepTypeKey":
        "rest", "displayOrder": 5}, "childStepId": 1, "description": null, "endCondition":
        {"conditionTypeId": 2, "conditionTypeKey": "time", "displayOrder": 2, "displayable":
        true}, "endConditionValue": 60, "preferredEndConditionUnit": null, "endConditionCompare":
        null, "targetType": null, "targetValueOne": null, "targetValueTwo": null,
        "targetValueUnit": null, "zoneNumber": null, "endConditionZone": null, "strokeType":
        {"strokeTypeId": null, "strokeTypeKey": null, "displayOrder": null}, "equipmentType":
        {"equipmentTypeId": null, "equipmentTypeKey": null, "displayOrder": null},
        "category": null, "exerciseName": null, "workoutProvider": null, "providerExerciseSourceId":
        null, "weightValue": null, "weightUnit": null}], "endConditionValue": 4, "preferredEndConditionUnit":
        null, "endConditionCompare": null, "endCondition": {"conditionTypeId": 7,
        "conditionTypeKey": "iterations", "displayOrder": 7, "displayable": false},
        "smartRepeat": false}, {"type": "RepeatGroupDTO", "stepId": 1224973897, "stepOrder":
        4, "stepType": {"stepTypeId": 6, "stepTypeKey": "repeat", "displayOrder":
        6}, "childStepId": 2, "numberOfIterations": 4, "workoutSteps": [{"type": "ExecutableStepDTO",
        "stepId": 1224973898, "stepOrder": 5, "stepType": {"stepTypeId": 3, "stepTypeKey":
        "interval", "displayOrder": 3}, "childStepId": 2, "description": null, "endCondition":
        {"conditionTypeId": 10, "conditionTypeKey": "reps",[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtO9vG.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 3600, "estimatedDistanceInMeters": null,
        "bodyParts": "Total Body", "difficulty": "Beginner", "description": "While
        your lifestyle might differ from a celeb, your goals are similar: You want
        to be lean, sexy, and strong, but achieve that[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGkGYuV.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1080, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "Improve muscular
        endurance and strength with two sets of this full-body sculpting cardio workout.",
        "focus": "Fat Loss, Cardio, Build Mus[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtROJK.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1200, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "Open up and loosen
        up with these basic moves.This basic routine is a gentle way to open your
        shoulders, hips, hamstrings and back, withou[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtO6U6.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1620, "estimatedDistanceInMeters": null,
        "bodyParts": "Lower Body", "difficulty": "Intermediate", "description": "Mother
        Nature isn''t always the best workout partner, sending extreme heat, freezing
        cold, and pouring rains without any he[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGtMeLu.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 2700, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "Target your
        legs and glutes with this lower-body burner. These six exercises provide an
        optimal strength-training combination to deli[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGbNShO.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 1200, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Advanced", "description": "This 20-minute
        leg AMRAP is perfect for targeting leg muscles and glutes. Get your lower
        limbs burning with 10 reps of five exercises. Co[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/GGmLvRR.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 600, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "An ideal workout
        for building lower body strength, no equipment needed. Four moves, as many
        rounds as possible in 10 minutes. Try to minim[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtOgBe.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 600, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Beginner", "description": "Learn proper postural
        alignment with these moves.The exercises in this workout improve posture by
        strengthening the core and stretching ov[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtOgDB.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 3600, "estimatedDistanceInMeters": null,
        "bodyParts": "Chest, Back, Biceps, Shoulders, Triceps, Abs", "difficulty":
        "Intermediate", "description": "Total-body workouts are great, unless you
        have a very specific goal. For many guys, build[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connect.garmin.com/web-data/workouts/en-US/BBtOgE3.json
  response:
    body:
      string: '{"estimatedDurationInSecs": 2400, "estimatedDistanceInMeters": null,
        "bodyParts": "", "difficulty": "Intermediate", "description": "Break out of
        an afternoon energy slump.Feeling sluggish? This routine will energize your
        body and mind. Sun salutations at a moderate[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
[...]
