interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 369946353, "profileId": 75620387, "garminGUID": "6fb98690-f511-4145-afed-1a660d8a05a3",
        "displayName": "28b8ca52-820b-4597-9bbb-6d76e1498867", "fullName": "Oskar",
        "userName": "oskar.salgado@gmail.com", "profileImageUuid": "0a5e9f44-4b61-4702-94f2-91363bd0d9f0",
        "profileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/0a5e9f44-4b61-4702-94f2-91363bd0d9f0-75620387.png",
        "profileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/c87431ff-0530-4002-b23f-1dd91534f23d-75620387.png",
        "profileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/d891cdfb-a406-40a0-a10b-1ff764a89599-75620387.png",
        "location": "", "facebookUrl": "", "twitterUrl": "", "personalWebsite": "",
        "motivation": 2, "bio": null, "primaryActivity": "running", "favoriteActivityTypes":
        ["running", "cycling", "swimming", "walking", "hiking", "weight_training"],
        "runningTrainingSpeed": 3.6363637, "cyclingTrainingSpeed": 5.555556, "favoriteCyclingActivityTypes":
        ["road", "mountain"], "cyclingClassification": "recreation", "cyclingMaxAvgPower":
        0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility": "private", "activityStartVisibility":
        "public", "activityMapVisibility": "public", "courseVisibility": "public",
        "activityHeartRateVisibility": "public", "activityPowerVisibility": "public",
        "badgeVisibility": "private", "showAge": false, "showWeight": false, "showHeight":
        false, "showWeightClass": false, "showAgeRange": false, "showGender": false,
        "showActivityClass": false, "showVO2Max": false, "showPersonalRecords": false,
        "showLast12Months": true, "showLifetimeTotals": true, "showUpcomingEvents":
        false, "showRecentFavorites": false, "showRecentDevice": false, "showRecentGear":
        false, "showBadges": false, "otherActivity": "", "otherPrimaryActivity": null,
        "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ", "SCOPE_ATP_WRITE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ",
        "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD",
        "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ",
        "SCOPE_INSIGHTS_WRITE", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER",
        "ROLE_WELLNESS_USER", "ROLE_OUTDOOR_USER", "ROLE_MARINE_USER", "ROLE_TACX_APP_USER"],
        "nameApproved": true, "userProfileFullName": "Oskar", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 7, "userPoint": 1561, "levelUpdateDate": "2023-07-07T12:13:00.0",
        "levelIsViewed": false, "levelPointThreshold": 2540, "userPointOffset": 0,
        "userPro": false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 75620387, "userData": {"gender": "MALE", "weight": 73800.0,
        "height": 178.0, "timeFormat": "time_twenty_four_hr", "birthDate": "1981-02-02",
        "measurementSystem": "metric", "activityLevel": 8, "handedness": "RIGHT",
        "powerFormat": {"formatId": 30, "formatKey": "watt", "minFraction": 0, "maxFraction":
        0, "groupingUsed": true, "displayFormat": null}, "heartRateFormat": {"formatId":
        21, "formatKey": "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        false, "displayFormat": null}, "firstDayOfWeek": {"dayId": 3, "dayName": "monday",
        "sortOrder": 3, "isPossibleFirstDay": true}, "vo2MaxRunning": 53.0, "vo2MaxCycling":
        null, "lactateThresholdSpeed": 0.3555545600000001, "lactateThresholdHeartRate":
        null, "diveNumber": 50, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "milliliter",
        "hydrationContainers": [{"name": null, "volume": 250, "unit": "milliliter"},
        {"name": null, "volume": 500, "unit": "milliliter"}, {"name": null, "volume":
        750, "unit": "milliliter"}], "hydrationAutoGoalEnabled": true, "firstbeatMaxStressScore":
        26, "firstbeatCyclingLtTimestamp": null, "firstbeatRunningLtTimestamp": 1063780297,
        "thresholdHeartRateAutoDetected": true, "ftpAutoDetected": null, "trainingStatusPausedDate":
        null, "weatherLocation": {"useFixedLocation": false, "latitude": 42.8509107,
        "longitude": -2.6423136, "locationName": "Gasteiz, Euskadi", "isoCountryCode":
        "ES", "postalCode": "01192"}, "golfDistanceUnit": "statute_us", "golfElevationUnit":
        null, "golfSpeedUnit": null, "externalBottomTime": 0}, "userSleep": {"sleepTime":
        75600, "defaultSleepTime": false, "wakeTime": 34200, "defaultWakeTime": false},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/info-service/api/system/release-system
  response:
    body:
      string: '[{"app": "release-system", "project": "system", "version": "23.19.3.0",
        "time": "Mon Oct 02 17:52:10 UTC 2023"}]'
    headers:
      Content-Type:
      - application/json
      x-vcap-request-id:
      - efa09688-6e9c-4944-6962-1fcc886714b9
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/activitylist-service/activities/search/activities?startDate=2023-09-05&endDate=2023-10-03&start=0&limit=20
  response:
    body:
      string: '[{"activityId": 12158913257, "activityName": "Vitoria - 10_2-General
        aer", "description": null, "startTimeLocal": "2023-10-03 05:31:50", "startTimeGMT":
        "2023-10-03 03:31:50", "activityType": {"typeId": 1, "typeKey": "running",
        "parentTypeId": 17, "isHidden": false, "trimmable": true, "restricted": false},
        "eventType": {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "comments":
        null, "parentId": null, "distance": 14197.1201171875, "duration": 4528.5341796875,
        "elapsedDuration": 4528.5341796875, "movingDuration": 4528.27197265625, "elevationGain":
        33.0, "elevationLoss": 52.0, "averageSpeed": 3.134999990463257, "maxSpeed":
        3.815999984741211, "startLatitude": 42.8512436337769, "startLongitude": -2.6433185767382383,
        "hasPolyline": true, "ownerId": 75620387, "ownerDisplayName": "28b8ca52-820b-4597-9bbb-6d76e1498867",
        "ownerFullName": "Oskar", "ownerProfileImageUrlSmall": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/d891cdfb-a406-40a0-a10b-1ff764a89599-75620387.png",
        "ownerProfileImageUrlMedium": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/c87431ff-0530-4002-b23f-1dd91534f23d-75620387.png",
        "ownerProfileImageUrlLarge": "https://s3.amazonaws.com/garmin-connect-prod/profile_images/0a5e9f44-4b61-4702-94f2-91363bd0d9f0-75620387.png",
        "calories": 912.0, "bmrCalories": null, "averageHR": 144.0, "maxHR": 150.0,
        "averageRunningCadenceInStepsPerMinute": 170.390625, "maxRunningCadenceInStepsPerMinute":
        184.0, "maxLapAvgRunCadence": null, "averageBikingCadenceInRevPerMinute":
        null, "maxBikingCadenceInRevPerMinute": null, "averageSwimCadenceInStrokesPerMinute":
        null, "maxSwimCadenceInStrokesPerMinute": null, "averageSwolf": null, "activeLengths":
        null, "steps": 12856, "conversationUuid": null, "conversationPk": null, "numberOfActivityLikes":
        null, "numberOfActivityComments": null, "likedByUser": null, "commentedByUser":
        null, "activityLikeDisplayNames": null, "activityLikeFullNames": null, "activityLikeProfileImageUrls":
        null, "requestorRelationship": null, "userRoles": ["SCOPE_DIVE_API_WRITE",
        "SCOPE_CONNECT_WEB_TEMPLATE_RENDER", "SCOPE_DIVE_API_READ", "SCOPE_CONNECT_NON_SOCIAL_SHARED_READ",
        "SCOPE_DI_OAUTH_2_CLIENT_READ", "SCOPE_CONNECT_READ", "SCOPE_CONNECT_WRITE",
        "SCOPE_DI_OAUTH_2_TOKEN_ADMIN", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER", "ROLE_WELLNESS_USER",
        "ROLE_OUTDOOR_USER", "ROLE_MARINE_USER", "ROLE_TACX_APP_USER"], "privacy":
        {"typeId": 1, "typeKey": "public"}, "userPro": false, "courseId": null, "poolLength":
        null, "unitOfPoolLength": null, "hasVideo": false, "videoUrl": null, "timeZoneId":
        124, "beginTimestamp": 1696303910000, "sportTypeId": 1, "avgPower": null,
        "maxPower": null, "aerobicTrainingEffect": 3.0999999046325684, "anaerobicTrainingEffect":
        0.0, "strokes": null, "normPower": null, "leftBalance": null, "rightBalance":
        null, "avgLeftBalance": null, "max20MinPower": null, "avgVerticalOscillation":
        10.580000305175782, "avgGroundContactTime": 258.29998779296875, "avgStrideLength":
        109.5300048828125, "avgFractionalCadence": null, "maxFractionalCadence": null,
        "trainingStressScore": null, "intensityFactor": null, "vO2MaxValue": 53.0,
        "avgVerticalRatio": 9.4399995803833, "avgGroundContactBalance": 47.560001373291016,
        "lactateThresholdBpm": null, "lactateThresholdSpeed": null, "maxFtp": null,
        "avgStrokeDistance": null, "avgStrokeCadence": null, "maxStrokeCadence": null,
        "workoutId": 753041449, "avgStrokes": null, "minStrokes": null, "deviceId":
        3977677144, "minTemperature": 18.0, "maxTemperature": 31.0, "minElevation":
        490.3999938964844, "maxElevation": 518.0, "avgDoubleCadence": null, "maxDoubleCadence":
        184.0, "summarizedExerciseSets": null, "maxDepth": null, "avgDepth": null,
        "surfaceInterval": null, "startN2": null, "endN2": null, "startCns": null,
        "endCns": null, "summarizedDiveInfo": {"weight": null, "weightUnit": null,
        "visibility": null, "visibilityUnit": null, "surfaceCondition": null, "current":
        null, "waterType": null, "waterDensity": null, "summarizedDiveGases": [],
        "totalSurfaceTime": null}, "activityLikeAuthors": null, "avgVerticalSpeed":
        null, "maxVerticalSpeed": 0.20001220703125003, "floorsClimbed": null, "floorsDescended":
        null, "manufacturer": "GARMIN", "diveNumber": null, "locationName": "Vitoria",
        "bottomTime": null, "lapCount": 2, "endLatitude": 42.85180211998522, "endLongitude":
        -2.64564111828804, "minAirSpeed": null, "maxAirSpeed": null, "avgAirSpeed":
        null, "avgWindYawAngle": null, "minCda": null, "maxCda": null, "avgCda": null,
        "avgWattsPerCda": null, "flow": null, "grit": null, "jumpCount": null, "caloriesEstimated":
        null, "caloriesConsumed": null, "waterEstimated": null, "waterConsumed": null,
        "maxAvgPower_1": null, "maxAvgPower_2": null, "maxAvgPower_5": null, "maxAvgPower_10":
        null, "maxAvgPower_20": null, "maxAvgPower_30": null, "maxAvgPower_60": null,
        "maxAvgPower_120": null, "maxAvgPower_300": null, "maxAvgPower_600": null,
        "maxAvgPower_1200": null, "maxAvgPower_1800": null, "maxAvgPower_3600": null,
        "maxAvgPower_7200": null, "maxAvgPower_18000": null, "excludeFromPowerCurveReports":
        null, "totalSets": null, "activeSets": null, "totalReps": null, "minRespirationRate":
        null, "maxRespirationRate": null, "avgRespirationRate": null, "trainingEffectLabel":
        null, "activityTrainingLoad": null, "avgFlow": null, "avgGrit": null, "minActivityLapDuration":
        60.262001037597656, "avgStress": null, "startStress": null, "endStress": null,
        "differenceStress": null, "maxStress": null, "aerobicTrainingEffectMessage":
        "IMPROVING_AEROBIC_BASE_8", "anaerobicTrainingEffectMessage": "NO_ANAEROBIC_BENEFIT_0",
        "splitSummaries": [{"noOfSplits": null, "maxGradeValue": null, "totalAscent":
        33.0, "duration": 4528.533973693848, "splitType": "INTERVAL_ACTIVE", "numClimbSends":
        0, "maxElevationGain": 33.0, "averageElevationGain": 33.0, "maxDistance":
        14197, "distance": 14197.119995117188, "averageSpeed": 3.135036653713528,
        "maxSpeed": 3.815999984741211, "mode": null, "numFalls": 0, "avgStress": null,
        "avgStressWin": null, "avgStressLoss": null, "avgStressDraw": null, "gamesWon":
        null, "gamesNotWon": null, "gamesAverageWon": null}], "hasSplits": false,
        "maxBottomTime": null, "hasSeedFirstbeatProfile": null, "calendarEventId":
        null, "calendarEventUuid": null, "avgGradeAdjustedSpeed": null, "avgWheelchairCadence":
        null, "maxWheelchairCadence": null, "avgJumpRopeCadence": null, "maxJumpRopeCadence":
        null, "gameName": null, "differenceBodyBattery": null, "gameType": null, "purposeful":
        false, "pr": false, "manualActivity": false, "autoCalcCalories": false, "elevationCorrected":
        false, "atpActivity": false, "favorite": false, "decoDive": false, "parent":
        false}, {"activityId": 12158703317, "activityName": "Vitoria Caminar", "description":
        null, "startTimeLocal": "2023-10-02 16:34:12", "startTimeGMT": "2023-10-02
        14:34:12", "activityType": {"typeId": 9, "typeKey": "walking", "parentTypeId":
        17, "isHidden": false, "trimmable": true, "restricted": false}, "eventType":
        {"typeId": 9, "typeKey": "uncategorized", "sortOrder": 10}, "comments": null,
        "parentId": null, "distance": 2893.06005859375, "duratio[...]
[...]
