interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/socialProfile
  response:
    body:
      string: '{"id": 411018016, "profileId": 116650904, "garminGUID": "3581c6a4-5ec4-46ac-9136-a546d7f848c4",
        "displayName": "1fd0fe00-1bc5-4ea5-83ff-0e1c1e3c82c7", "fullName": "Oscar
        Salgado", "userName": "o26188979@gmail.com", "profileImageUuid": null, "profileImageUrlLarge":
        null, "profileImageUrlMedium": null, "profileImageUrlSmall": null, "location":
        null, "facebookUrl": null, "twitterUrl": null, "personalWebsite": null, "motivation":
        null, "bio": null, "primaryActivity": null, "favoriteActivityTypes": [], "runningTrainingSpeed":
        0.0, "cyclingTrainingSpeed": 0.0, "favoriteCyclingActivityTypes": [], "cyclingClassification":
        null, "cyclingMaxAvgPower": 0.0, "swimmingTrainingSpeed": 0.0, "profileVisibility":
        "private", "activityStartVisibility": "public", "activityMapVisibility": "public",
        "courseVisibility": "public", "activityHeartRateVisibility": "public", "activityPowerVisibility":
        "public", "badgeVisibility": "following", "showAge": false, "showWeight":
        false, "showHeight": false, "showWeightClass": false, "showAgeRange": false,
        "showGender": false, "showActivityClass": false, "showVO2Max": false, "showPersonalRecords":
        true, "showLast12Months": true, "showLifetimeTotals": true, "showUpcomingEvents":
        true, "showRecentFavorites": true, "showRecentDevice": true, "showRecentGear":
        false, "showBadges": true, "otherActivity": null, "otherPrimaryActivity":
        null, "otherMotivation": null, "userRoles": ["SCOPE_ATP_READ", "SCOPE_ATP_WRITE",
        "SCOPE_COMMUNITY_COURSE_READ", "SCOPE_COMMUNITY_COURSE_WRITE", "SCOPE_CONNECT_READ",
        "SCOPE_CONNECT_WRITE", "SCOPE_DT_CLIENT_ANALYTICS_WRITE", "SCOPE_GARMINPAY_READ",
        "SCOPE_GARMINPAY_WRITE", "SCOPE_GCOFFER_READ", "SCOPE_GCOFFER_WRITE", "SCOPE_GHS_SAMD",
        "SCOPE_GHS_UPLOAD", "SCOPE_GOLF_API_READ", "SCOPE_GOLF_API_WRITE", "SCOPE_INSIGHTS_READ",
        "SCOPE_INSIGHTS_WRITE", "SCOPE_PRODUCT_SEARCH_READ", "ROLE_CONNECTUSER", "ROLE_FITNESS_USER"],
        "nameApproved": true, "userProfileFullName": "Oscar Salgado", "makeGolfScorecardsPrivate":
        true, "allowGolfLiveScoring": false, "allowGolfScoringByConnections": true,
        "userLevel": 1, "userPoint": 0, "levelUpdateDate": "2023-09-28T15:28:35.0",
        "levelIsViewed": false, "levelPointThreshold": 20, "userPointOffset": 0, "userPro":
        false}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/userprofile-service/userprofile/user-settings
  response:
    body:
      string: '{"id": 116650904, "userData": {"gender": null, "weight": null, "height":
        null, "timeFormat": "time_twelve_hr", "birthDate": null, "measurementSystem":
        "statute_us", "activityLevel": null, "handedness": null, "powerFormat": {"formatId":
        30, "formatKey": "watt", "minFraction": 0, "maxFraction": 0, "groupingUsed":
        true, "displayFormat": null}, "heartRateFormat": {"formatId": 21, "formatKey":
        "bpm", "minFraction": 0, "maxFraction": 0, "groupingUsed": false, "displayFormat":
        null}, "firstDayOfWeek": {"dayId": 2, "dayName": "sunday", "sortOrder": 2,
        "isPossibleFirstDay": true}, "vo2MaxRunning": null, "vo2MaxCycling": null,
        "lactateThresholdSpeed": null, "lactateThresholdHeartRate": null, "diveNumber":
        null, "intensityMinutesCalcMethod": "AUTO", "moderateIntensityMinutesHrZone":
        3, "vigorousIntensityMinutesHrZone": 4, "hydrationMeasurementUnit": "cup",
        "hydrationContainers": [], "firstbeatMaxStressScore": null, "firstbeatCyclingLtTimestamp":
        null, "firstbeatRunningLtTimestamp": null, "thresholdHeartRateAutoDetected":
        null, "ftpAutoDetected": null, "trainingStatusPausedDate": null, "weatherLocation":
        {"useFixedLocation": null, "latitude": null, "longitude": null, "locationName":
        null, "isoCountryCode": null, "postalCode": null}, "golfDistanceUnit": "statute_us",
        "golfElevationUnit": null, "golfSpeedUnit": null, "externalBottomTime": null,
        "availableTrainingDays": ["MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY",
        "SATURDAY", "SUNDAY"], "preferredLongTrainingDays": []}, "userSleep": {"sleepTime":
        79200, "defaultSleepTime": true, "wakeTime": 21600, "defaultWakeTime": true},
        "connectDate": null, "sourceType": null}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/info-service/api/system/release-system
  response:
    body:
      string: '[{"app": "release-system", "project": "system", "version": "23.21.1.1",
        "time": "Mon Oct 23 03:31:25 UTC 2023"}]'
    headers:
      Content-Type:
      - application/json
      x-vcap-request-id:
      - 822e2deb-5639-48dc-5a3d-24d64f7d20a3
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Authorization:
      - Bearer SANITIZED
    method: GET
    uri: https://connectapi.garmin.com/workout-service/workout/types
  response:
    body:
      string: '{"workoutStepTypes": [{"stepTypeId": 1, "stepTypeKey": "warmup", "displayOrder":
        1}, {"stepTypeId": 2, "stepTypeKey": "cooldown", "displayOrder": 2}, {"stepTypeId":
        3, "stepTypeKey": "interval", "displayOrder": 3}, {"stepTypeId": 4, "stepTypeKey":
        "recovery", "displayOrder": 4}, {"stepTypeId": 6, "stepTypeKey": "repeat",
        "displayOrder": 6}, {"stepTypeId": 5, "stepTypeKey": "rest", "displayOrder":
        5}, {"stepTypeId": 7, "stepTypeKey": "other", "displayOrder": 7}, {"stepTypeId":
        8, "stepTypeKey": "main", "displayOrder": 8}], "workoutSportTypes": [{"sportTypeId":
        1, "sportTypeKey": "running", "displayOrder": 1}, {"sportTypeId": 2, "sportTypeKey":
        "cycling", "displayOrder": 2}, {"sportTypeId": 4, "sportTypeKey": "swimming",
        "displayOrder": 3}, {"sportTypeId": 5, "sportTypeKey": "strength_training",
        "displayOrder": 4}, {"sportTypeId": 6, "sportTypeKey": "cardio_training",
        "displayOrder": 5}, {"sportTypeId": 7, "sportTypeKey": "yoga", "displayOrder":
        7}, {"sportTypeId": 8, "sportTypeKey": "pilates", "displayOrder": 8}, {"sportTypeId":
        9, "sportTypeKey": "hiit", "displayOrder": 6}, {"sportTypeId": 3, "sportTypeKey":
        "other", "displayOrder": 9}], "workoutConditionTypes": [{"conditionTypeId":
        4, "conditionTypeKey": "calories", "displayOrder": 4, "displayable": true},
        {"conditionTypeId": 3, "conditionTypeKey": "distance", "displayOrder": 3,
        "displayable": true}, {"conditionTypeId": 6, "conditionTypeKey": "heart.rate",
        "displayOrder": 6, "displayable": true}, {"conditionTypeId": 1, "conditionTypeKey":
        "lap.button", "displayOrder": 1, "displayable": true}, {"conditionTypeId":
        7, "conditionTypeKey": "iterations", "displayOrder": 7, "displayable": false},
        {"conditionTypeId": 5, "conditionTypeKey": "power", "[...]
